/BlockFreezer/nbproject
/DoMath/nbproject
/EasyMessages/nbproject
/GlobalShield/nbproject
/MyTag/nbproject
/PlanB/nbproject
/QueryFacade/nbproject
/RapidCMD/nbproject
/RestartMe/nbproject
/SkinTools/nbproject
/iManager/nbproject